.navbar{
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);

.logoImg{
    width: 50%;
}

    background-color: white;
    a{
        color: $accColor0;
        &:hover{
            color: $accColor3;
        }
    }
}